body{
   background-color: rgba(36, 33, 33, 0.166);
}

#hero{
    background-image: url("/images/hero.png");
    width: 100%;
    background-size: cover;
   text-align: center;
   margin: 0;

    



}
#title{
    font-size: 10vh;
    padding-top: 10vh;
    font-family: 'Luckiest Guy';
    
    
   


}

#navbar {
display: flex;
background-color: rgba(211, 87, 201, 0.578);
justify-content: flex-end;
}